<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

In [3]:
import numpy as np

## Exercise 1 (Celsius to Fahrenheit)

#### Original answer

In [135]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50 ]

py_array = np.array(temperatures_celsius)

for index, temperature_celsius in enumerate(temperatures_celsius):
    print(temperature_celsius, ((py_array*(9/5)) + 32)[index])

0 32.0
5 41.0
10 50.0
15 59.0
20 68.0
25 77.0
30 86.0
35 95.0
40 104.0
45 113.0
50 122.0

#### Corrected answer

In [12]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50 ]

for index, temperature_celsius in enumerate(temperatures_celsius):
    print(temperature_celsius, ((temperature_celsius*(9/5)) + 32))

0 32.0
5 41.0
10 50.0
15 59.0
20 68.0
25 77.0
30 86.0
35 95.0
40 104.0
45 113.0
50 122.0

In [15]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50 ]

celsius_array = np.array(temperatures_celsius)
fahrenheit_array = celsius_array*(9/5) + 32

print(np.column_stack((celsius_array, fahrenheit_array))) # Using np without using a for loop

[[  0.  32.]
 [  5.  41.]
 [ 10.  50.]
 [ 15.  59.]
 [ 20.  68.]
 [ 25.  77.]
 [ 30.  86.]
 [ 35.  95.]
 [ 40. 104.]
 [ 45. 113.]
 [ 50. 122.]]

## Exercise 2 (Multiplication table)

### Example

In [152]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t') # t means tab, so the variables are separated with a tab
    print('\n')

A1	A2	A3

B1	B2	B3

C1	C2	C3

### Task

In [192]:
for number in range(1,5+1):
    print(f'{number} :', end=' ')  # the end=' ' is to prevent the print function from adding a new line by default
    for multiply in range(1,6):
        print(f"{number*multiply}", end='\t')
    print()

1 : 1	2	3	4	5
2 : 2	4	6	8	10
3 : 3	6	9	12	15
4 : 4	8	12	16	20
5 : 5	10	15	20	25

## Exercise 3 (Simulating a Coin Flip Experiment)

### Example

In [59]:
np.random.rand(10)

array([0.50229712, 0.52336753, 0.94096852, 0.80545604, 0.49271599,
       0.52339188, 0.04281728, 0.71194318, 0.17203024, 0.23810781])

### Task

#### Original answer

In [7]:
outcomes = [] # make an empty list

for _ in range(1,11): # loop so that experiment runs 10 times
    experiments = np.random.rand(10) # in each experiment, the coin is flipped 10 times
    heads = np.sum(np.random.rand(10) > 0.5)
    outcomes.append(heads)

for i, heads in enumerate(outcomes,1): # use enumerate to index the outcomes list
    print(f'Experiment  {i}: No. of Heads = {heads}')

Experiment  1: No. of Heads = 6
Experiment  2: No. of Heads = 5
Experiment  3: No. of Heads = 5
Experiment  4: No. of Heads = 2
Experiment  5: No. of Heads = 4
Experiment  6: No. of Heads = 7
Experiment  7: No. of Heads = 5
Experiment  8: No. of Heads = 5
Experiment  9: No. of Heads = 4
Experiment  10: No. of Heads = 4

#### Corrected answer

In [12]:
outcomes = [] # make an empty list

for _ in range(1,10+1): # loop so that experiment runs 10 times
    experiments = np.random.rand(10) # in each experiment, the coin is flipped 10 times
    heads = np.sum(experiments > 0.5) # use experiments variable so the results are from the experiments above
    outcomes.append(heads)

for i, heads in enumerate(outcomes,1): # use enumerate to index the outcomes list
    print(f'Experiment  {i}: No. of Heads = {heads}')

Experiment  1: No. of Heads = 7
Experiment  2: No. of Heads = 5
Experiment  3: No. of Heads = 2
Experiment  4: No. of Heads = 7
Experiment  5: No. of Heads = 4
Experiment  6: No. of Heads = 7
Experiment  7: No. of Heads = 3
Experiment  8: No. of Heads = 4
Experiment  9: No. of Heads = 4
Experiment  10: No. of Heads = 9